<!DOCTYPE html>
<html>
    <head>
        <title>Encrypted Tux</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body>
        <div class="scanlines"></div>
        <div class="scanline"></div>
        <div class="flicker"></div>
        <div class="body">
          <pre>
      
      <titles>

  #       ______                            __           __   ______          
  #     / ____/___  ____________  ______  / /____  ____/ /  /_  __/_  ___ _ __
  #     / __/ / __ \/ ___/ ___/ / / / __ \/ __/ _ \/ __  /    / / / / / / |/_/
  #    / /___/ / / / /__/ /  / /_/ / /_/ / /_/  __/ /_/ /    / / / /_/ />  <  
  #   /_____/_/ /_/\___/_/   \__, / .___/\__/\___/\__,_/    /_/  \__,_/_/|_|  
  #                         /____/_/                                                    
    
                            "Encrypted Tux - a blog"                                                        
      </titles></a>
      
      <titles># About this blog:</titles>
      
   
      hey, welcome to my blog where I'm all about keeping it real 
      with Linux and privacy. In a world where everyone's watching, 
      I'm here to show you how to keep your online life on lock. 
      From VPNs and Tor to encrypting your files and securing your 
      internet connection, I got you covered. I'll also be breaking 
      down the latest and greatest in privacy-focused Linux tools and 
      sharing tips and tricks to help you stay lowkey online. So, 
      come through and join me as I navigate the digital world while 
      keeping myself anonymous.
      
      <div class="getstarted">
        <a href="bloglist">GET STARTED</a>
      </div>
      


      </div>
      
      </pre>
        </div>
      </body>

</html>
